.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    p{
        margin-bottom:10px;
    }
    a{
        text-decoration: none;
        color: var(--brand-color-black);
        h2{
            font-weight: 700 !important;
        }
        &:hover h2{
            text-decoration: underline;
            color: var(--brand-color-red);
        }
    }
}



