.container{
    h4{
      font-weight: 600;
    }
    a{
        display: flex;
        align-items: center;
        gap: 6px;
        transition: 200ms ease-in-out;
        &:hover{
            gap: 12px;
            text-decoration: underline;
        }
        p{
            margin: 0px; padding:0px;
        }
    }
}