$cardShadow: 0px 8px 41px rgba(192, 192, 192, 0.15);

.container{
    > div:first-of-type{
        border: 1px solid var(--brand-color-darkGray);
        box-shadow: $cardShadow; 
    }

    > div:first-of-type div div{
        display: flex;
        justify-content: end;
        align-items: end;
        height: 50px;
    }

    p{
        margin:0px
    }

    &:hover h4{
        text-decoration: underline;
    }

    img{
        transition: 200ms ease-in-out;
        width: fit-content;
        transform: translate(-10px);
    }

    &:hover img{
        transform: translate(0px);
    }
       
}