.containerCenter{
    p{
        text-align: center;
    }
    h1, h2, h3{
        text-align: center;
    }
}

.containerRight{
    p{
        text-align: right;
    }
    h1, h2, h3{
        text-align: right;
    }
}