.contentContainer{
    max-width: 600px;
    position: relative;
    margin: 0 auto;
    margin-bottom: 50px;
    border-left: 1.5px solid var(--brand-color-darkGray);
    border-right: 1.5px solid var(--brand-color-darkGray);
    padding: 0 1em 0 1em;
    line-height: 135%;
}