@import "./bootstrap.scss";

:root{
  --brand-color-white: #fff;
  --brand-color-gray: #FCFCFC;
  --brand-color-darkGray: #eeeeee;
  --brand-color-black: #272727;
  --brand-color-red: #FF2B2A;
  --brand-font-style: "Uni Sans", sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--brand-font-style) !important;
  background-color: var(--brand-color-gray) !important;
  color: var(--brand-color-black) !important;
}

h1{
  font-weight: 700 !important;
}

section{
  margin-bottom: 150px;
}

a{
  text-decoration: none;
  color: var(--brand-color-black);

  &:hover{
    color: var(--brand-color-red);
  }
}

.btn{
  text-transform: uppercase;
  border-radius: 4px;
  font-size: 14.5px;
  &:hover{
    opacity: .85;
  }
}

.btn-primary{
  color: var(--brand-color-white);
  font-weight: 600;
  &:hover{
    color: var(--brand-color-white);
  }
}

.btn-primary-link{
  padding: 0px;
  margin: 0px;
  color: var(--brand-color-red);
  font-weight: 600;

  &:hover{
    color: var(--brand-color-red);
  }
}
