@import "./bootstrap.scss";

/* normal */
@font-face {
  font-family: "Uni Sans";
  src: url('../font/Uni-Sans-Light.ttf');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Uni Sans";
  src: url('../font/Uni-Sans-Book.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Uni Sans";
  src: url('../font/Uni-Sans-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Uni Sans";
  src: url('../font/Uni-Sans-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Uni Sans";
  src: url('../font/Uni-Sans-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Uni Sans";
  src: url('../font/Uni-Sans-Heavy.ttf');
  font-weight: 950;
  font-style: normal;
}

/* Italic */
@font-face {
  font-family: "Uni Sans";
  src: url('../font/Uni-Sans-Light-Italic.ttf');
  font-weight: lighter;
  font-style: italic;
}

@font-face {
  font-family: "Uni Sans";
  src: url('../font/Uni-Sans-Book-Italic.ttf');
  font-weight: light;
  font-style: italic;
}

@font-face {
  font-family: "Uni Sans";
  src: url('../font/Uni-Sans-SemiBold-Italic.ttf');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Uni Sans";
  src: url('../font/Uni-Sans-Bold-Italic.ttf');
  font-weight: bolder;
  font-style: italic;
}

@font-face {
  font-family: "Uni Sans";
  src: url('../font/Uni-Sans-Heavy-Italic.ttf');
  font-weight: 950;
  font-style: italic;
}

:root{
  --brand-color-white: #fff;
  --brand-color-gray: #FCFCFC;
  --brand-color-darkGray: #eeeeee;
  --brand-color-black: #272727;
  --brand-color-red: #FF2B2A;
  --brand-font-style: "Uni Sans", sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--brand-font-style) !important;
  background-color: var(--brand-color-gray) !important;
  color: var(--brand-color-black) !important;
}

h1{
  font-weight: 700 !important;
}

section{
  margin-bottom: 150px;
}

a{
  text-decoration: none;
  color: var(--brand-color-black);

  &:hover{
    color: var(--brand-color-red);
  }
}

.btn{
  text-transform: uppercase;
  border-radius: 4px;
  font-size: 14.5px;
  &:hover{
    opacity: .85;
  }
}

.btn-primary{
  color: var(--brand-color-white);
  font-weight: 600;
  &:hover{
    color: var(--brand-color-white);
  }
}

.btn-primary-link{
  padding: 0px;
  margin: 0px;
  color: var(--brand-color-red);
  font-weight: 600;

  &:hover{
    color: var(--brand-color-red);
  }
}
